<% if(message.length > 0) { %>
  <div class="erroralert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= message %>
  </div>
<% } %>

<div class="middle">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="middle-box">
          <h2>Admin Account <button class="postadmincode" type="button"><i class="glyphicon glyphicon-send"></i></button></h2>
          <hr>
          <form action="/admin/login" method="post">
            <label for="email">Email</label>
            <div class="form-group inner-addon">
              <i class="left-addon glyphicon glyphicon-user"></i>
              <input type="email" class="form-control input-lg" id="email" name="user[local][email]" placeholder="Email" required>
            </div>
            <label for="password">Password</label>
            <div class="form-group inner-addon">
              <i class="left-addon glyphicon glyphicon-lock"></i>
              <input type="password" class="form-control input-lg" id="password" name="user[local][password]" placeholder="Password" required>
            </div>
            <label for="code">Code</label>
            <div class="form-group inner-addon">
              <i class="left-addon glyphicon glyphicon-lock"></i>
              <input type="text" class="form-control input-lg" id="code" name="code" placeholder="Code" required>
            </div>
            <button type="submit" class="btn btn-lg btn-success middle-box-button">Login</button>
          </form>
          <button id="demo" type="button" name="button">Add Data</button>
          <button id="remove" type="button" name="button">Remove Data</button>
        </div>
      </div>
    </div>
  </div>
</div>
