<div class="middle">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="middle-box">
          <h2>Success!</h2>
          <hr>
          <i class="fa fa-thumbs-up largethumbsup"></i>
          <h4>Your account has been activated.</h4>
          <a href="/users" class="btn btn-lg btn-darkgrey middle-box-button">Back to Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
