<!-- CSS reset -->
<link rel="stylesheet" href="helppage/css/reset.min.css">
<!-- Resource style -->
<link rel="stylesheet" href="helppage/css/helppage.min.css">
<!-- Modernizr for Help Page -->
<!--  -->
<script src="helppage/js/modernizr.min.js"></script>


<header>
	<h1>Employer guide</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#guidelines">Guidelines</a></li>
	</ul>

	<div class="cd-faq-items">
		<ul id="guidelines" class="cd-faq-group">
			<li>
				<a class="cd-faq-trigger" href="#0">Minimum Requirements</a>
				<div class="cd-faq-content">
					<p>An Employer has to be above 21 years old.</p>
					<p>An Employer cannot be an undischarged bankrupt.</p>
					<p>An Employer must have the mental capacity to .</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Rest Day</a>
				<div class="cd-faq-content">
					<p>Helpers are entitled to one rest day every week.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Medical Care</a>
				<div class="cd-faq-content">
					<p>Employers have to bear full cost of any medical care, including hospitalisation and provide the helper with medical and personal accident insurance.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Abuse and ill-treatment of Helper</a>
				<div class="cd-faq-content">
					<p>Allegations of abuse and ill-treatment of helper is taken seriously, especially if it concerns physical or sexual abuse. Complaints of abuse are investigated by the police.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Employment rules for helper</a>
				<div class="cd-faq-content">
					<p>The helper can only work for the employer; can only perform domestic chores; can only work at the residential address stated in the work permit; cannot take part in any part-time work.</p>
					<p>The helper can be placed at another residential address during daytime only if it is to take care of young children or elderly parents.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Sending a helper home</a>
				<div class="cd-faq-content">
					<p>If this is within the 2 year contract, the employer must inform Maidicare so that Maidicare can help to facilitate a transfer for the helper.</p>
					<p>The employer needs to resolve all outstanding employment issues (eg salary); give the helper advance notice of her departure; make sure the helper departs within 2 weeks of cancelling her work permit; buy her an air ticket to the international airport nearest to her hometown in her home country.</p>
					<p> Employer must pay all associated costs of sending her home, including the cost of the air ticket and check-in luggage allowance.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Overseas leave for helper</a>
				<div class="cd-faq-content">
					<p>The helper may wish to take time off to visit her family. The employer may apply for a levy waiver or postpone her 6-monthly medical examination. To find out more on what to do when your helper takes overseas leave, <a target="_blank" href="https://www.mom.gov.sg/passes-and-permits/work-permit-for-foreign-domestic-worker/employers-guide/overseas-leave-for-fdw">click here</a>.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Offences under the Employment of Foreign Manpower Act</a>
				<div class="cd-faq-content">
					<p>An employer may be debarred from hiring a helper if he/she commit any offences under the Employment of Foreign Manpower Act. Such offences include:</p>
					<p>1) the abuse of the helper</p>
					<p>2) exploitation of the helper, e.g. not paying her or not giving her adequate food</p>
					<p>3) instructing a helper to perform tasks that compromise her safety and health</p>
					<p>4) illegal employment or deployment of a helper</p>

				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Employer’s Guide provided by MOM</a>
				<div class="cd-faq-content">
					<p><a target="_blank" href="https://www.mom.gov.sg/passes-and-permits/work-permit-for-foreign-domestic-worker/employers-guide">Click here</a> to read more.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">When and how do the employer make salary payments to the helper?</a>
				<div class="cd-faq-content">
					<p>The employer should pay the helper her salary monthly and no later than 7 days after the last day of salary period. We highly advise that employer does not hold the helper's salary for safekeeping purposes as this might lead to potential misunderstandings.</p>
					<p>There are 2 ways to make salary payments. The first way is to deposit to the helper's bank account in Singapore and let the helper keep the bank book. The second way is to pay via cash. If payment is via cash, we have prepared a salary schedule to ensure that there are proper records being done.</p>
				</div> <!-- cd-faq-content -->
			</li>

		<li>
			<a class="cd-faq-trigger" href="#0">Can the helper work without off-days and hand phones?</a>
			<div class="cd-faq-content">
				<p>Most helpers are able to work without off-days in lieu of compensation. If the employer or the helper wants an off-day, it can be arranged prior to the maid's deployment. For usage of hand phones, it is up to the employer's discretion on the helper's usage on the hand phone.</p>
			</div> <!-- cd-faq-content -->
		</li>

		<li>
			<a class="cd-faq-trigger" href="#0">What is the current monthly levy for the helper?</a>
			<div class="cd-faq-content">
				<p>Levy is a pricing mechanism set by the government to regulate the amount of foreign workers in Singapore. The employers are required to pay the monthly levy for the helper. Currently, levy is at $265 (normal) and $60 (concession). The employer is entitled to a concessionary rate if there are eligible for the Young children/grandchild Scheme, Aged person scheme or the Persons with disabilities Scheme. Please refer to this <a href="http://www.mom.gov.sg/passes-and-permits/work-permit-for-foreign-domestic-worker/foreign-domestic-worker-levy/levy-concession" target="_blank" style="text-decoration:underline">link</a> for more details.</p>
				<p>Levy payments are done via GIRO only.</p>
			</div> <!-- cd-faq-content -->
		</li>

		<li>
			<a class="cd-faq-trigger" href="#0">Who can apply for a helper?</a>
			<div class="cd-faq-content">
				<p>An employer need to be 21 years of age and above, not undischarged bankrupt and have the mental capacity to fully understand and discharge his/her responsibility as an employer. MOM will also consider other criteria such as financial ability.</p>
			</div> <!-- cd-faq-content -->
		</li>

		<li>
			<a class="cd-faq-trigger" href="#0">Can an employer hire more than 1 helper?</a>
			<div class="cd-faq-content">
				<p>Yes, the employer might be able to hire more than 1 helper, subject to MOM approval. MOM will consider applications for a 2nd helper if the employer has special needs such as having 2 or more children below 18 years of age or a parent/parent-in-law that is above 60 years of age living with you. MOM will also assess other criteria such as ability to maintain more than 1 helper.</p>
			</div> <!-- cd-faq-content -->
		</li>

		<li>
			<a class="cd-faq-trigger" href="#0">Can an employer employ a helper if she does not have any income?</a>
			<div class="cd-faq-content">
				<p>Yes, the employer can apply for the Sponsorship Scheme if he/she is at least 60 years of age and not staying with any working adults.</p>
				<p>Alternatively, he/she can arrange a fixed deposit of at least $50k, although subject to MOM approval.</p>
			</div> <!-- cd-faq-content -->
		</li>
	</ul> <!-- cd-faq-group -->

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

<!-- Resource jQuery -->
<script src="helppage/js/jquery-2.1.1.min.js"></script>
<script src="helppage/js/jquery.mobile.custom.min.js"></script>
<script src="helppage/js/helppage.min.js"></script>
