<!-- CSS reset -->
<link rel="stylesheet" href="helppage/css/reset.min.css">
<!-- Resource style -->
<link rel="stylesheet" href="helppage/css/helppage.min.css">
<!-- Modernizr for Help Page -->
<!--  -->
<script src="helppage/js/modernizr.min.js"></script>


<header>
	<h1>Guidelines for Employers</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#guidelines">Guidelines</a></li>
	</ul>

	<div class="cd-faq-items">
		<ul id="guidelines" class="cd-faq-group">
			<li>
				<a class="cd-faq-trigger" href="#0">Rest Day</a>
				<div class="cd-faq-content">
					<p>Foreign Domestic Workers (FDWs) are entitled to one rest day every week.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Medical Care</a>
				<div class="cd-faq-content">
					<p>Employers have to bear full cost of any medical care, including hospitalisation and provide her with medical and personal accident insurance.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Employment Contract and Safety Agreement</a>
				<div class="cd-faq-content">
					<p>Your agent should facilitate the signing of the employment contract and safety agreement between you and your FDW.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Salary</a>
				<div class="cd-faq-content">
					<p>You must pay your FDW her salary each month, no later than 7 days after the end of each month.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Resolving disputes with the Employment Agency</a>
				<div class="cd-faq-content">
					<p>If a dispute cannot be resolved by our agreed dispute resolution mechanism, the employer can consider consulting the small claims tribunal. The employer can also get in touch with the Association of Employment Agencies (Singapore)(AEAS) at 68362618.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Abuse and ill-treatment of FDW</a>
				<div class="cd-faq-content">
					<p>Allegations of abuse and ill-treatment of FDW is taken seriously, especially if it concerns physical or sexual abuse. Complaints of abuse are investigated by the police.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Employment rules for FDW</a>
				<div class="cd-faq-content">
					<p>FDW can only work for employer; can only perform domestic chores; can only work at the residential address stated in the work permit; cannot take part in any part-time work.</p>
					<p>FDW can be placed at another residential address during daytime only if it is to take care of young children or elderly parents.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Sending a FDW home</a>
				<div class="cd-faq-content">
					<p>Employer needs to resolve all outstanding employment issues (eg salary); give her advance notice of her departure; make sure she departs within 2 weeks of cancelling her work permit; buy her an air ticket to the international airport nearest to her hometown in her home country.</p>
					<p> Employer must pay all associated costs of sending her home, including the cost of the air ticket and check-in luggage allowance.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Overseas leave for FDW</a>
				<div class="cd-faq-content">
					<p>FDW may wish to take time off to visit her family. Employers may apply for a levy waiver or postpone her 6-monthly medical examination. To find out more on what to do when your FDW takes overseas leave, <a target="_blank" href="https://www.mom.gov.sg/passes-and-permits/work-permit-for-foreign-domestic-worker/employers-guide/overseas-leave-for-fdw">click here</a>.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Offences under the Employment of Foreign Manpower Act</a>
				<div class="cd-faq-content">
					<p>An employer may be debarred from hiring an FDW if they commit any offences under the Employment of Foreign Manpower Act. Such offences include:</p>
					<p>1) the abuse of an FDW</p>
					<p>2) exploitation of an FDW, e.g. not paying her or not giving her adequate food</p>
					<p>3) instructing an FDW to perform tasks that compromise her safety and health</p>
					<p>4) illegal employment or deployment of an FDW</p>

				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Employer’s Guide provided by MOM</a>
				<div class="cd-faq-content">
					<p><a target="_blank" href="https://www.mom.gov.sg/passes-and-permits/work-permit-for-foreign-domestic-worker/employers-guide">Click here</a> to read more.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

<!-- Resource jQuery -->
<script src="helppage/js/jquery-2.1.1.min.js"></script>
<script src="helppage/js/jquery.mobile.custom.min.js"></script>
<script src="helppage/js/helppage.min.js"></script>
