<!-- CSS reset -->
<link rel="stylesheet" href="helppage/css/reset.min.css">
<!-- Resource style -->
<link rel="stylesheet" href="helppage/css/helppage.min.css">
<!-- Modernizr for Help Page -->
<!--  -->
<script src="helppage/js/modernizr.min.js"></script>


<header>
	<h1>Frequently Asked Questions</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#ourservices">Our Services</a></li>
		<li><a href="#hiringprocess">Hiring Process</a></li>
		<li><a href="#hiringcosts">Hiring Costs</a></li>
		<li><a href="#transfer">Transfer</a></li>
		<li><a href="#privacy">Privacy</a></li>
		<li><a href="#guidelines">Employer's Guide</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="ourservices" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Our Services</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What MaidiCare do?</a>
				<div class="cd-faq-content">
					<p>We are an online Employment Agency. Helpers may upload their bio on this site. Employers may shortlist helpers at the click of a mouse. Helpers are allowed to reject the 'shortlist'. This serves to minimise disappointment and disatisfaction which in turn reduce incidences of transfers.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What differentiates Maidicare from the rest?</a>
				<div class="cd-faq-content">
					<p>Most of our maids can be interviewed via Skype or through the telephone. We do a lot of quality checks prior to the maid deployment by interviewing them personally or through our overseas counterparts.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why use MaidiCare?</a>
				<div class="cd-faq-content">
					<p>We provide a cheaper, more convenient and more reliable alternative to the traditional "Maid Agencies" in Singapore.</p>
					<p>Domestic helpers will pay at most two months of their salary as per Ministry of Manpower guidelines.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How we ensure that expectations are met?</a>
				<div class="cd-faq-content">
					<p>Because helpers are allowed to view salient details about the employer who shortlists them, and allowed to reject a 'shortlist', there will be less disappointment.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How we reduce costs?</a>
				<div class="cd-faq-content">
					<p>We have less overheads and are not out to make a 'killing'. In the first place, we started this business because we are aghast at the abuse of domestic helpers.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What happens if the employer encounter problems after hiring the helper?</a>
				<div class="cd-faq-content">
					<p>We provide free counselling services to talk to the helper in order to identify and solve the problems. In a case where counselling does not work, we will advise the employer accordingly.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can Maidicare guarantee my helper will work out well?</a>
				<div class="cd-faq-content">
					<p>As we are dealing with human beings, we cannot guarantee that the helper will work well. We will however, try our best to make sure the helper is up to our standard before they are deployed in Singapore.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What do I do if I would like to arrange alternative accomodation for my maid when I am overseas?</a>
				<div class="cd-faq-content">
					<p>We provide lodging accomodation at a fee for the helper if you decide to put her with us.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Does Maidicare provide other services other than just assisting to hire the helper?</a>
				<div class="cd-faq-content">
					<p>We provide a very comprehensive service package pre and post hiring of the maid. This is to ensure that we are a 1-stop agency where we provide the best and complete service.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Does Maidicare have any issues or demerit points from MOM or other government agencies?</a>
				<div class="cd-faq-content">
					<p>No, we have no issues with any government authorities. We are very stringent with the relevant regulations while delivering best customer service and top quality maids.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="hiringprocess" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Hiring Process</h2></li>

			<li>
				<a class="cd-faq-trigger" href="#0">What documents do the employer need to provide when hiring the helper?</a>
				<div class="cd-faq-content">
					<p>Typically, the employer needs to provide Notice of Assessment, Particulars (IC/Birth certificates) and the number of members staying in the household, and the certificate from Employment Orientation Program (if 1st time taking a maid).</p>
					<p>If additional helper or replacement, we would require the Work Permit particulars of the existing/previous helper.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the steps for the employer?</a>
				<div class="cd-faq-content">
					<p>Step 1</p>
					<p>Sign up and fill up registration. Browse and shortlist a domestic helper. Wait for her reply.</p>
					<p>Step 2</p>
					<p>Once the helper accepts a shortlist, the employer will be given the option to confirm. If confirmed, we will arrange a meetup with the employer to complete paperwork. At this point in time, we will also collect a deposit.</p>
					<p>Step 3</p>
					<p>When the helper arrives and the preliminary requirements are completed, we will send her to your residence.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the steps for the helper?</a>
				<div class="cd-faq-content">
					<p>Step 1</p>
					<p>Sign up and fill up registration. An activation code will be sent to your email. After you activate your account, your profile will be uploaded for browsing.</p>
					<p>Step 2</p>
					<p>If you have been shortlisted, you will receive an email. Then, you will have to login to your account to accept or reject.</p>
					<p>Step 3</p>
					<p>When the employer confirms your acceptance, you will receive another email with further instructions.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How many helpers can the employer shortlist?</a>
				<div class="cd-faq-content">
					<p>An employer can shortlist as many helpers as she wants, but can only confirm one.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What happens after there is a confirmed match?</a>
				<div class="cd-faq-content">
					<p>Once the employer confirms, both employer and helper will receive an email which will contain further instructions.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How long does it take to get a helper?</a>
				<div class="cd-faq-content">
					<p>If a confirmation is done quickly, it will take 3 - 6 weeks to get the helper to Singapore.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="hiringcosts" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Hiring Costs</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How much does an employer have to pay?</a>
				<div class="cd-faq-content">
					<p>Flat fee of $1,500 which includes application fee, medical check-up, x-ray, runner, insurance, work permit application, settling in programme and processing fee.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How much does a helper have to pay?</a>
				<div class="cd-faq-content">
					<p>2 months' pay</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is the helper's starting salary?</a>
				<div class="cd-faq-content">
					<p>Starting salary is $570 with a day off every week. The helper has to be compensated $22 if she is required to work on her off day.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How many off-days is the helper entitled to?</a>
				<div class="cd-faq-content">
					<p>1 off day per week.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is the levy to be paid to the government?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum at aspernatur iure facere ab a corporis mollitia molestiae quod omnis minima, est labore quidem nobis accusantium ad totam sunt doloremque laudantium impedit similique iste quasi cum! Libero fugit at praesentium vero. Maiores non consequuntur rerum, nemo a qui repellat quibusdam architecto voluptatem? Sequi, possimus, cupiditate autem soluta ipsa rerum officiis cum libero delectus explicabo facilis, odit ullam aperiam reprehenderit! Vero ad non harum veritatis tempore beatae possimus, ex odio quo.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Are the helper's loan and insurance refundable?</a>
				<div class="cd-faq-content">
					<p>Yes, both are refundable to employer on a pro-rated basis. The employer will need to pay the upfront loan for the maid first, but will get it back via the maid's monthly salary. In a case where the maid is not able to due to her not finishing her contract, the agency will refund it back to the employer.</p>
					</p>For insurance, what is not being used will be refunded to the employer via the insurance company.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="transfer" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Transfer</h2></li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is Maidicare's view on transferring/replacing helper?</a>
				<div class="cd-faq-content">
					<p>We will try our best to follow a1 out1 in replacement policy so that the employer will have a maid at all times to cope with the household needs. We understand it is difficult to cope without a helper and thus, we will do our best to help while adhering to government regulations.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How many transfers is the employer entitled to?</a>
				<div class="cd-faq-content">
					<p>1 transfer within 3 months at a fee of $1,000 flat.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Are there additional costs to transfer a helper?</a>
				<div class="cd-faq-content">
					<p>You have to continue to pay the levy of the present helper until the date of the transfer.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How long must I keep a helper before I can transfer her?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Privacy</h2></li>

			<li>
				<a class="cd-faq-trigger" href="#0">Confidentiality</a>
				<div class="cd-faq-content">
					<p>To ensure your confidentiality, we will take reasonable steps not to disclose your personal information to any third party, unless required by law or for the application process.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who can see the helper's profile?</a>
				<div class="cd-faq-content">
					<p>Nobody except MOM.</p>
					<p>The helper, selected by the employer, will know the bare minimum such as employer's house type, the number of occupants, and the type of work required such as looking after bed-ridden, infants, etc. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who can see the employer's profile?</a>
				<div class="cd-faq-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I access my account data?</a>
				<div class="cd-faq-content">
					<p>Sign in using your password.</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> <!-- cd-faq-group -->

		<ul id="guidelines" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Employer's Guide</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Important guidelines for Employers</a>
				<div class="cd-faq-content">
					<p>The employer is responsible for the health and general well being of the helper. The employer should provide the rest days, proper accomodation, adequate medical care and safe work conditions.</p>
					<p>For more info, <a target="_blank" href="/guidelines">click here</a>.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul>
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

<!-- Resource jQuery -->
<script src="helppage/js/jquery-2.1.1.min.js"></script>
<script src="helppage/js/jquery.mobile.custom.min.js"></script>
<script src="helppage/js/helppage.min.js"></script>
