<!--Banner-->
<div class="banner" id="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="text-border">
            <h2 class="text-dec">Trust & Quality</h2>
          </div>
          <div class="intro-para text-center quote">
            <p class="big-text">Find good quality domestic helpers through us at competitive rates</p>
            <p class="small-text">We bring down our costs so that you can benefit</p>
            <a href="/browse" class="btn">Get Started</a>
            <a href="#video" class="btn next page-scroll">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Banner-->

<!--Video-->
<section id="video" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2><strong>How it works?</strong></h2>
        <p><strong>Find out how to use MaidiCare in one minute.</strong></p>
        <hr class="bottom-line">
        <iframe width="70%" height="350"  src="https://www.youtube.com/embed/go0hL66boK8?ecver=1" frameborder="0" allowfullscreen>
          Your browser could not load the video. Please use a modern browser such as Google Chrome for a better User experience.
        </iframe>
      </div>
    </div>
  </div>
</section>

<!--Feature-->
<section id="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2><strong>3 Simple Steps</strong></h2>
        <p><strong>You can select a helper without leaving your home.</strong></p>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Step 1</h4>
              <p>Browse and shortlist a domestic helper. Wait for her reply.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Step 2</h4>
              <p>Once confirmed, we will arrange a meetup to complete paperwork.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-credit-card"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Step 3</h4>
              <p>When the helper arrives, we will send her to your residence.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-trophy"></i>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!--/ feature-->

<!--Testimonial-->
<%# <section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2><strong>Customer Testimonials</strong></h2>
        <p>Why clients and their domestic helpers love GreenGate</p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-6 col-sm-6 testimonial-box">
        <div class="text-comment">
          <p class="text-par">“We can hire engineers who code in different languages than we write internally. the best hires we've made.</p>
          <p class="text-name">Brian Tan - CTO, RED Financials </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 testimonial-box">
        <div class="text-comment">
          <p class="text-par">“I attribute our success building and scaling our startup. It’s how we recruit new people, manage payments and track deadlines.”</p>
          <p class="text-name">Abraham Doe - Creative Dırector, Far East Commercial</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 testimonial-box">
        <div class="text-comment">
          <p class="text-par">“We can hire experienced web developers when we are at our busiest period to help with the workload which is essential to our business. We look forward to working with Freelancer Xchange more in the future."</p>
          <p class="text-name">Juliet Wong - CEO, Wonderful Web </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 testimonial-box">
        <div class="text-comment">
          <p class="text-par">“We have hired developers from Freelancer Xchange who have given us insights on how to manage our business on the web and how to engage with our customers."</p>
          <p class="text-name">Cindy Fong - Business Development Director, Red Ridinghood Home Deliveries </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <a href="#banner" class="btn up page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </div>
    </div>
  </div>
</section>%>
<!--/ Testimonial-->
